.student-login-wrapper {
  position: fixed;
  right: -45px;
  top: 70%;
  transform: translateY(-50%);
  z-index: 9;
}

.student-login-button {
  transform: rotate(-90deg);
  padding: 10px 20px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7rem;
}
